
<footer class="py-4 bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-md-center text-white">
                <h6>
                    <strong class="">Site Haritası</strong>
                </h6>
                <hr />
                <p>
                    <a href="/Home/MostLike">
                        <span>
                            <i class="fa fa-star"></i>
                            En Beğenilenler
                        </span>
                    </a><br />
                    <a href="/Home/Index">
                        <span>
                            <i class="fas fa-th-list"></i>
                            Son Yazılanlar
                        </span>

                    </a><br />
                    <a href="/Home/About">
                        <span>
                            <i class="fas fa-info-circle"></i>  Hakkımızda
                        </span>
                    </a>
                </p>
            </div>
            <div class="col-md-4  text-center text-white">
                <h6>
                    <strong class="">MyEvernote</strong>
                </h6>
                <hr />
                <p>
                    Tüm Hakları Saklıdır &copy;<br />
                    MyEvernote @DateTime.Now.Year
                </p>
            </div>
            <div class="col-md-4 text-center text-white">
                <h6>
                    <strong class="">E-Bülten Üyeliği</strong>
                </h6>
                <hr />
                <p> Aşağıya e-posta Adresinizi Girerek Üye Olabilirsiniz!</p>
                <form class="form-inline ">
                    <div class="input-group mb-3  ml-4">
                        <input type="text" class="form-control" placeholder="e-posta Adresiniz" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-info" type="button" id="button-addon2"><i class="fas fa-paper-plane"></i>  Gönder</button>

                        </div>

                    </div>
                </form>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</footer>